@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import 'tailwindcss';

html{
  scroll-behavior: smooth;

}

body {
  font-size: 1rem;
  color:#654640;
  text-align: center;
}

h1{
  font-family: 'Playfair Display', serif;
}

.instagram-logo {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */
  margin-left: 0.5rem; /* 8px */
}

.first-fold{
  background-image:url('/beauty-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;

}

.main-content{
  transform:translateY(12rem);

}

.phone{
  width:12em;

}

.socials{
  width:12em
}



