@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import 'tailwindcss';


:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {

  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.instagram-logo{
  width: 25px;
  height: 25px;
  margin-left: 8px;
 
}

.main-content::before{
  content: "";
  position: absolute;
  left: 0;
  bottom:0;
  /* width: 100%;
  height: 60%;   */
  background-image: url('/main-circle-with-flowers.svg');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: 400px auto; /* scale SVG if needed */
  background-position: -100px 0; /* shift to crop */
  overflow: hidden; /* hide the rest */
  width: 100%;
  ; /* visible area width */
  height: 200px; /* visible area height */
}

@media (min-width: 420px)and (max-width:1499px) {
  .main-content::before{
  height: 350px;  
  background-size: cover;

  }
}
@media (min-width: 1500px) {
  .main-content::before{
  height: 85%;  
  background-image: url('/two-circles-with-flowers.svg');
  background-size: cover;
  background-position: -100px -100px; /* shift to crop */


  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .main-content::before{
  background-image: url('/main-circle-with-flowers.svg');

  }
}